@use "../../varialbles" as vars;

.catalogo_container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  width: 80%;
  
  gap: 40px;
  margin: auto;
  // margin-top: 2%;
  margin-bottom: 20px;
  animation: hamburger 5s infinite;
  @media (min-width: vars.$breakpoint-extra-small) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: vars.$breakpoint-medium) {
    // justify-content: center;
    flex-direction: row;
    justify-content: space-around;
  }
  @media (min-width: vars.$breakpoint-xxx-large) {
    width: 75%;
  }
}

.catalogo_h2_container {
  padding-right: 14px;
  padding-bottom: 1px;
  // position: absolute;
  // top: 5%;
  color: whitesmoke;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
  align-self: center;
  text-align: center;
  border-right: 3px solid #444;
  border-bottom: 1px solid #444;
  margin-bottom: 50px;

  @media (min-width: vars.$breakpoint-medium) {
    display: none;
  }
}

//   .catalogo_h2_container::before {
//     content: '';
//     position: absolute;
//     bottom: 20%;
//     right: 0;
//     width: 30%;
//     height: 45px;
//     border-right: 3px solid #444;
//     border-bottom: 1px solid #444;
//     box-sizing: border-box;

//   }

.catalogo_item {
  display: flex;
  justify-content: flex-start;
  width: 300px;

  height: fit-content;
  cursor: pointer;
  // margin-top: 12%;
  text-align: center;
  // animation: hamburger 5s infinite;
  position: relative;
  // z-index: 1;
  transition: all 800ms ease;

  &:hover {
    .item_fondo {
      opacity: 0.4;
    }
    .catalogo_text_container {
      opacity: 1;
      //    top: 25%;
    }
  }

  @media (min-width: vars.$breakpoint-extra-small) {
    // width: 66%;
    width: 170px;
    margin-bottom: 20px;

    height: 250px;
    position: relative;
  }
  @media (min-width: vars.$breakpoint-small) {
    width: 50%;
    justify-content: center;
  }

  @media (min-width: vars.$breakpoint-medium) {
    width: 45%;
    margin-bottom: 5%;
  }
  @media (min-width: vars.$breakpoint-large) {
    width: 25%;
    margin-bottom: 3%;

    height: fit-content;
  }
  @media (min-width: vars.$breakpoint-xx-large) {
    width: 20%;
  }
  @media (min-width: vars.$breakpoint-xxx-large) {
    width: 20%;
  }

  //     img {
  //         width: 100%;

  //         // transition: all 200ms;
  //         &:hover {
  //             // border-right: 2px solid grey;
  //             // border-bottom: 1px solid grey;
  //             // opacity: .3;
  //             opacity: .2;
  //         }

  //     @media(max-width: vars.$breakpoint-medium) {
  //         width: 86%;

  //     }
  // }
}

.items_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;

  @media (min-width: vars.$breakpoint-extra-small) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  @media (min-width: vars.$breakpoint-small) { 
    width: 100%;
 
  }

  @media (min-width: vars.$breakpoint-medium) {
//    gap: 70px;
    width: 100%;
  }
  @media (min-width: vars.$breakpoint-large) {
        gap: 60px;
    //asdasadas
        width: 90%;
      }

  @media (min-width: vars.$breakpoint-xxx-large) {
    width: 87%;
    gap: 70px;

    justify-content: start;
  }
}
.item_fondo {
  background-repeat: no-repeat;

  transition: opacity 0.5s ease;
  justify-content: center;



  @media (min-width: vars.$breakpoint-extra-small) {
    width: 156px;
    height: 156px;
    background-size: contain;
  }
  @media (min-width: vars.$breakpoint-small) {
    width: 250px;
    height: 252px;
    // aass
    
  }
  @media (min-width: vars.$breakpoint-xxx-large) {
    
 
    
    
   }
}

.catalogo_text_container {
  z-index: 1500;
  width: fit-content;
  width: 200px;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 5px;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 200px;
  transition: all 0.5s ease;
  color: #fff;
  @media (min-width: vars.$breakpoint-extra-small) {
    position: absolute;
    top: 60%;
    bottom: 0;

    font-size: 12px;
    text-align: center;
    opacity: 1;
    width: 150px;
    height: 100px;
  }
  @media (min-width: vars.$breakpoint-small) {
    top: 13%;
    font-size: 14px;
    opacity: 0;
    width: 190px;
    height: auto;

   

  }
  @media (min-width: vars.$breakpoint-medium) { 

    width: 200px;
//    left: -22px;
   
  } 
  @media (min-width: vars.$breakpoint-large) { 
   // left: 0;
    
 //   top: 10%;
  } 
  @media (min-width: vars.$breakpoint-xxx-large) { 
    // width: 112%;
    // height: 130px;
  }
  h2 {
    margin-block-end: 1px;
    font-weight: 800;
    @media (min-width: vars.$breakpoint-extra-small) {
      font-size: 14px;
    }
    @media (min-width: vars.$breakpoint-small) {
      font-size: 20px;
    }
  }
  span {
    @media (min-width: vars.$breakpoint-small) {
      font-size: 18px;
    }
  }
  .link_catalogo_container {
    display: flex;
    justify-content: center;
  }

  // }
  // @media(min-width: vars.$breakpoint-medium) {
  //     left: 25%;

  // }
  // @media(min-width: vars.$breakpoint-large) {
  //     left: 16%;

  // }
  // @media(min-width: vars.$breakpoint-extra-large) {
  //     left: 20%;

  // }
  // @media(min-width: vars.$breakpoint-xx-large) {
  //     left: 15%;
  // }
  // @media(min-width: vars.$breakpoint-xxx-large) {
  //     left: 22%;
  // }

  span {
    display: block;
  }

  // opacity: 1;
}

@keyframes hamburguer {
  from {
    background: blue;
  }

  to {
    background: gray;
  }
}
// .img_fondo_catalogo {
//   background-image: url("/public/assets/2.0/headers/catalogo_3.0.png");
//   background-size: cover;
//   back
// }
