@use '../varialbles' as vars;


@media(max-width: vars.$breakpoint-medium) {}

.artistas_section {
    margin-bottom: 20px;
}
// .artistas_container {
    
//     width: 88%;
//     display: flex;
//     flex-wrap: wrap;
//     //justify-content: center;
//     gap: 10px;   
//     margin: auto;
//     margin-top: 2%;
    
//     .artistas_item {
//         display: flex;
//         flex-direction: column;
//         text-align: center;
//         margin-bottom: 10px;
//         a {
//             color: white;
//             text-decoration: none;
//         }
        
       
//     }
// }


.artista_layout_container {
    display: flex;
    
    min-height: 600px;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    gap: 20px;
    @media(max-width: vars.$breakpoint-large) {
        flex-direction: column;
    }
    
    img {
       height: 500px;
       
       @media(max-width: vars.$breakpoint-medium) {
        margin: auto;
        width: 500px;
        height: 450px;
        border-radius: 10px;
    }
    @media(max-width: vars.$breakpoint-small) {
        width: 330px;
        height: 300px; 
    }
    @media(max-width: vars.$breakpoint-extra-small) {
       width: 300px;
       height: 280px;
       

    }
    }
    
       

}
.artista_info {
    // margin: auto;
    // text-align: center;
   
    text-align: center;
    margin-bottom: 2%;
    
    @media(max-width: vars.$breakpoint-medium) { 
        margin: auto;
        
    }
}