@use '../varialbles' as vars;


nav {
    display: flex;


    margin-bottom: -25px;
    position: absolute;
    top: 0;
    z-index: 5;

    @media(min-width: vars.$breakpoint-medium){ 
        width: 98%;
    }
    @media(min-width: vars.$breakpoint-large){
    width: 98%;

    }
    @media(min-width: vars.$breakpoint-large){
        width: 94%;
    
        }
    @media(min-width: vars.$breakpoint-xx-large){ 
            width: 80%;
           
         }
         @media(min-width: vars.$breakpoint-xxx-large){ 
            width: 80%;
           
         }     
   
    
    ul {
        display: flex;
      //  justify-content: space-between;
        width: 90%;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none; 
        justify-content: space-between;
        gap: 15px;
        cursor: pointer;
        align-items: center;
        padding-right: 10px;
        position: relative;
       
      
        
        
        @media(min-width: vars.$breakpoint-large){
            width: 100%;
           
           
        
        }
        @media(max-width: vars.$breakpoint-medium){
            display: none;
         }
         
        
        
       
        
        
    }
    li {
        &:hover {
           text-decoration: underline; 

        }
        
        img {
            width: 120px;
            @media(min-width: vars.$breakpoint-medium){
                width: 80px;
            }
            @media(min-width: vars.$breakpoint-large){
               width: 90px;
            }
            // @media(max-width: vars.$breakpoint-medium){
               
            // }
        }
    }
    
}
.santa_sede_nav {
    width: 110px;
    // @media(max-width: vars.$breakpoint-medium){
    //     width: 120px;
    // }
   

}

// .list_navbar {
//     &:hover {
//         border-bottom: 2px solid;
//     }
  
//}
.disabled_btn {
 display: none;   
}
.active_border {
    @media(max-width: 1919px){  
        border-bottom: 2px solid;

    }
    @media(min-width: 1925px){  
        border-bottom: 2px solid;

    }
    //position: relative;
   
    
}
.underline {
    @media(min-width: vars.$breakpoint-xxx-large){ 
        position: absolute;
        
        width: 110px;
        border: 1px solid white;
        bottom: 32px;
        transition: all 1200ms ease-in-out;
        
    }
    @media(min-width: 1925px){ 
        display: none;
    } 
    /* catalogo 260
        artista 480px
        extras 710
        EDITORIAL 935
        ss 1175
        contacto



    
        */


}