@use '../varialbles' as vars;


nav {
    display: flex;


    margin-bottom: -25px;
    position: absolute;
    top: 0;
    z-index: 5;


    @media(min-width: vars.$breakpoint-large){
    width: 75%;

    }
   
    
    ul {
        display: flex;
      //  justify-content: space-between;
        width: 90%;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none; 
       justify-content: space-between;
        gap: 15px;
        cursor: pointer;
        align-items: center;
        padding-right: 10px;
        
        
        @media(min-width: vars.$breakpoint-large){
            width: 100%;
           
        
        }
        @media(max-width: vars.$breakpoint-medium){
            display: none;
         }
        
        
       
        
        
    }
    li {
        &:hover {
           text-decoration: underline; 

        }
        
        img {
            width: 120px;
            
            @media(min-width: vars.$breakpoint-large){
               width: 90px;
            }
            @media(max-width: vars.$breakpoint-medium){
                width: 80px;
            }
        }
    }
    
}
.santa_sede_nav {
    width: 110px;
    // @media(max-width: vars.$breakpoint-medium){
    //     width: 120px;
    // }
   

}