@use '../../varialbles' as vars;

main {

    display: flex;
    flex-direction: column;
    
    // width: ;
    //  height: 1100px;
    margin-bottom: 20px;
    @media(min-width: vars.$breakpoint-medium) {
        // height: 600px;
       
       
       
    }
    @media(min-width: vars.$breakpoint-large) {
        // height: 600px;
        // background-color: green;
    }
    @media(min-width: vars.$breakpoint-extra-large) {
        height: 900px;

    }
 

}


.home_item {
    background-color: black;
    position: relative;
    transition: all 2000ms ease;
   
    &:hover {
        .item_text_container {
            opacity: 1;
        }
        .rectangle {
            height: 97%;

        }
    }
    @media(min-width: vars.$breakpoint-extra-small) {
        width: 300px;
        height: 410px;

      
    }
    @media(min-width: vars.$breakpoint-small) {
        // width: 70%;
        // height: 390px;
       // width: 45%;
        height:380px ;
        margin-bottom: 12px;
     }
    @media(min-width: vars.$breakpoint-medium) { 
         width: 320px;
        height:400px ;
        margin-bottom: 10px;
       
       
    }

    // @media(min-width: vars.$breakpoint-large) { 
    //     // background-color: green;
    //     // width: 250px;
    //     width: 39%;
    //     height: 402px;
    
      
    // }
    @media(min-width: vars.$breakpoint-extra-large) {
       
        margin-bottom: 10px;
        height: 420px;
        width: 28%;

        

    }
    @media(min-width: vars.$breakpoint-xx-large) { 
        width: 330px;
    }

}

.home_cards_image {
    
    position: absolute;
    top: 2%;
    right: 0;
  
    @media(min-width: vars.$breakpoint-small) {
         width: 280px;
        // height: 312px;

    }
    @media(min-width: vars.$breakpoint-medium) {
        width: 300px;
        // height: 280px;

    }

    @media(min-width: vars.$breakpoint-large) {
        // position: absolute;
        // // top: 2%;
        // // right: 0;
        // width: 200px;
        // height: 200px;
        width: 300px;
        // height: 220px;
       
        
    }
    @media(min-width: vars.$breakpoint-extra-large) {
        width: 300px;
       // height: 280px;

    }

   





}

.item_text_container {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 400;
    background-color: black;
    color: white;
    opacity: 0;
    padding-left: 5px;
    transition: all 2000ms ease;
    @media(min-width: vars.$breakpoint-extra-small) {
        font-size: 12px;
        height: 100px;
        width: 77%;
    } 
    @media(min-width: vars.$breakpoint-small) {
        width: 78%;
        height: 80px;
        font-size: 12px;
     }
    @media(min-width: vars.$breakpoint-medium) { 
        width: 75%;
        height: 88px;
        font-size: 12px;

    }
    @media(min-width: vars.$breakpoint-large) { 
        // opacity: .5;
        font-size: 12px;
        width: 73%;
        height: 93px;
    }
    @media(min-width: vars.$breakpoint-extra-large) {
        font-size: 15px;
        width: 78%;
        height: 105px;
       
        // opacity: 1;
        // display: flex;
        // flex-direction: column;
        // justify-content: center; 
    }

}

.rectangle {
    background-color: whitesmoke;
    position: absolute;
    transition: all 2000ms ease;
    @media(min-width: vars.$breakpoint-extra-small) {
        height: 77%;
        width: 20%;
       
        
    }
    @media(min-width: vars.$breakpoint-small) {
        height: 80%;
        width: 20%;
        
    }
    @media(min-width: vars.$breakpoint-medium) {
        
        height: 83%;
        width: 20%;
     }
    @media(min-width: vars.$breakpoint-large) {
        height: 80%;
        width: 25%;
    }
    @media(min-width: vars.$breakpoint-extra-large) { 
        width: 17%;
        height: 77%;
       
    }

}




//  .cards_container {
//      display: flex;
//      justify-content: center;
//      padding-top: 30px;
//      flex-wrap: wrap;
//      gap: 50px;



//      .card_item {   
//         width: 22%;
//         height: 365px;
//        // text-align: center;
//         padding: 8px 16px 8px 16px;
//         position: relative;


//         @media(max-width: vars.$breakpoint-large){
//           //height: 340px;
//           width: 30%;
//       }
//         @media(max-width: vars.$breakpoint-medium){
//         width: 45%;
//         height: 400px;
//         }
//         @media(max-width: vars.$breakpoint-medium){ 
//       //  width: 50%;
//         height: 350px;

//       }
//       @media(max-width: vars.$breakpoint-extra-small){
//       width: 60%;
//       height: 340px;

//       }



//      }
//  }
//  .home_rectangle {
//    background: #fff;
//    height: 100%;
//    width: 22%; 
//  }


//  .card_image {
//     margin-top: 8px;
//     width: 90%;
//     height: 65%;
//   //  float: right;
//     z-index: 3;
//     position: absolute;
//     right: 0px;
//     top: 10px;
//     @media(max-width: vars.$breakpoint-medium){ 

//       height: 62%;
//     }
//     @media(max-width: vars.$breakpoint-small){
//       width: 90%;
//       height: 60%;

//     }
//     @media(max-width: vars.$breakpoint-extra-small){


//     }
//  }
//  .card_text_container {
//     display: flex;
//     flex-direction: column;
//     justify-content: start;
//     float: right;
//     margin: auto;
//     width: 70%;
//     height: 130px;
//     background-color: #000;
//     position: absolute;
//     top: 65%;
//     right: 0px;
//     z-index: 2;
//     font-weight: 700;
//      @media(max-width: vars.$breakpoint-large){
//        width: 76%;
//       text-align: justify;
//       font-size: 15px;
//       @media(max-width: vars.$breakpoint-medium){ 
//         top: 66%;
//         height: 134px;
//         width: 75%;

//       }
//       @media(max-width: vars.$breakpoint-small){ 
//         font-size: 13px;
//         top: 65%;
//         height: 103px;
//         text-align:start;       
//       }
//       @media(max-width: vars.$breakpoint-extra-small){
//       width: 73%;

//       }
//    }
//     h5 {
//       margin-bottom: -5%;

//   //     @media(max-width: vars.$breakpoint-large){
//   //       font-size: 14px;
//   //   }
//   //   @media(max-width: vars.$breakpoint-large){
//   //     font-size: 14px;

//   // }

//  }
//  h5,p {
//   @media(max-width: vars.$breakpoint-extra-small){

//        }
//  }

//  }


.home_image_container {
    display: flex;
    width: 100%;
    border: none;
    padding: 0;

    margin-top: 10px;

    @media(max-width: vars.$breakpoint-medium) {
        display: none;
    }


}

.home_image {

    width: 100%;
    height: 280px;

    @media(max-width: vars.$breakpoint-large) {
        height: 240px;
    }

    @media(max-width: vars.$breakpoint-medium) {
        height: 200px;
    }


}